<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="TaxSystemDb"
			 connectionString="Server=localhost\SQLEXPRESS;Database=SystemPodatkowyBaza;Trusted_Connection=True;TrustServerCertificate=True"
			 providerName="Microsoft.EntityFrameworkCore.SqlServer" />
	</connectionStrings>
</configuration>